.header{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #f7f7ff;
        background-color: #fff;
        color: #fff;
}


.navbar{
        height: 100%;
}

.content{
        height: 100%;
        background-color: #eeeeee;
}